@import '../config/color';
@import '../config/mq';

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
  transition: all 0.3s;
  &.header-shadow {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.3);
    @include mq-down() {
      box-shadow: none;
    }
  }
  .global-nav {
    display: flex;
    justify-content: space-between;
    width: $container-width-xl;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    @include mq-down(lg) {
      width: $container-width-lg;
    }
    @include mq-down() {
      display: none;
    }
    .navbar ul {
      @include mq-down() {
        display: none;
      }
      display: flex;
      li {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700;
        list-style: none;
        a {
          padding-bottom: 5px;
          color: $text-color-black;
          text-decoration: none;
          transition: all 0.2s;
          &.active {
            border-bottom: 2px solid $text-color-black;
          }
        }
      }
    }
  }
  .hamburger-nav {
    display: none;
    height: 50px;
    margin: 0 auto;
    @include mq-down() {
      display: flex;
      justify-content: space-between;
      width: $container-width-md;
      i {
        line-height: 50px;
      }
    }
  }
  nav {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    // height: 100%;
    font-size: 32px;
    text-align: center;
    background-color: $sub-color-blue;
    transition: all 0.2s;
    transform: translate(100%);
    &.open {
      transform: translate(0);
    }
    li {
      padding-bottom: 10px;
      margin: 30px;
      list-style-type: none;
      border-bottom: 1px solid $text-color-white;
      a {
        display: block;
        color: $text-color-white;
        text-decoration: none;
      }
    }
  }
}