@import '../mixin/btn';
@import '../config/mq';

main {
  width: $container-width-xl;
  padding-top: 100px;
  margin: 0 auto;
  @include mq-down(lg) {
    width: $container-width-lg;
  }
  @include mq-down() {
    width: $container-width-md;
    padding-top: 50px;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 32px;
  }
  #profile {
    padding-top:100px;
    margin-top:-100px;
    @include mq-down() {
      padding-top: 50px;
    }
  }
  .profile {
    width: $container-width-xl;
    margin: 100px auto 200px;
    @include mq-down(lg) {
      width: $container-width-lg;
    }
    @include mq-down() {
      width: $container-width-md;
      margin: 50px auto 100px;
    }
    .container {
      position: relative;
      display: flex;
      width: 560px;
      height: 200px;
      margin: 0 auto;
      @include mq-down(md) {
        width: 400px;
      }
    }
    .icon {
      width: 200px;
      height: 200px;
      background-image: url('../../img/icon.JPG');
      background-position: center;
      background-size: cover;
      border: 7px solid $sub-color-blue;
      border-radius: 50%;
      @include mq-down(md) {
        position: absolute;
        top: 50px;
        right: 20px;
        width: 100px;
        height: 100px;
        border: 4px solid $sub-color-blue;
      }
    }
    .inner {
      height: 100px;
      margin: auto 100px auto 0;
      @include mq-down(md) {
        margin: auto 20px auto 0;
      }
      .name {
        h1 {
          margin-bottom: 20px;
          font-size: 48px;
        }
      }
      .social ul {
        display: flex;
        margin-left: 10px;
        li {
          margin-right: 20px;
          list-style: none;
          a {
            color: $text-color-black;
          }
        }
      }
    }
  }
  #about {
    padding-top:100px;
    margin-top:-100px;
    @include mq-down() {
      padding-top: 50px;
    }
  }
  .about {
    p {
      margin-bottom: 20px;
    }
    .skills ul {
      display: flex;
      li {
        list-style: none;
      }
      .skill {
        padding: 5px 10px;
        margin-right: 10px;
        border: 1px solid #333333;
        border-radius: 2px;
      }
    }
  }
  #works {
    padding-top:100px;
    margin-top:-100px;
    @include mq-down() {
      padding-top: 50px;
    }
  }
  .works {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include mq-down() {
        grid-template-columns: 1fr;
      }
      .card {
        padding: 20px 50px;
        margin: 0 auto 50px;
        box-shadow: 0px 5px 5px 3px rgba($color: #000000, $alpha: 0.1);
        img {
          width: 300px;
            &:hover {
              opacity: 0.5;
            }
        }
        @include mq-down(lg) {
          .img {
            width: 200px;
            margin: 0 auto;
            img {
              width: 200px;
            }
          }
        }
        @include mq-down() {
          .img {
            width: 300px;
            img {
              width: 300px;
            }
          }
        }
        h3 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  #blog {
    padding-top:100px;
    margin-top:-100px;
    @include mq-down() {
      padding-top: 50px;
    }
  }
  .blog {
    .article {
      margin-bottom: 20px;
      h3 {
        font-size: 24px;
        a {
          color: $sub-color-blue;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .message {
        height: 300px;
      }
      p {
        font-size: 16px;
        color: $text-color-gray;
      }
    }
  }
  #contact {
    padding-top:100px;
    margin-top:-100px;
    @include mq-down() {
      padding-top: 50px;
    }
  }
  .contact {
    .input {
      display: block;
      width: 50%;
      padding: 5px 10px;
      margin: 0 auto 10px;
      color: $text-color-black;
      border: 1px solid $text-color-black;
      border-radius: 2px;
      @include mq-down() {
        width: 100%;
      }
    }
    .input-form::placeholder {
      color: $text-color-gray;
    }
    .btn {
      color: $text-color-white;
      background-color: $text-color-black;
    }
  }
}