// config
@import './config/color';

// modules
@import './modules/_header';
@import './modules/_main';
@import './modules/_content';
@import './modules/_footer';

// * {
//   background-color: rgba(255,0,0,0.05);
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-color-black;
}

.section {
  margin-bottom: 150px;
}